In [2]:
import pandas as pd
import numpy as np
import glob

In [36]:
sentences_eng = pd.read_csv("./eng_sentences/sentences_20211210.csv", sep='\t', header=None)
sentences_est = pd.read_csv("./est_sentences/est_sentences.tsv", sep='\t', header=None)
sentences_eng.columns = ["tatoeba_id","lang","sentence"]
sentences_est.columns = ["tatoeba_id","lang","sentence"]

In [3]:
links = pd.read_csv("./links/links.csv", sep='\t', header=None)
links.columns = ["source","translation"]

In [37]:
links

            source  translation
0                1         1276
1                1         2481
2                1         5350
3                1         5972
4                1       180624
...            ...          ...
20431603  10531131     10531132
20431604  10531132     10531131
20431605  10531133     10531134
20431606  10531134     10531133
20431607  10531135     10530463

[20431608 rows x 2 columns]

In [38]:
sentences_est

      tatoeba_id lang                                           sentence
0         344278  est  Sellises kärestikus ujuma minna oleks väga mõt...
1         344280  est  Jõesängi mööda puhuv jäine tuul pani kõrvaotsa...
2         344282  est  Läinud aastavahetuse melu meenutasid tänavatel...
3         344289  est  Viirpuu hekk oli täis varblaste agarat säutsum...
4         344299  est       Tema hoolimatu autojuhtimine lõppes surmaga.
...          ...  ...                                                ...
3665    10267471  est                                    Ma ei ole kass.
3666    10267472  est                                  Mina ei ole kass.
3667    10467066  est                         Kassid valitsevad maailma.
3668    10471247  est                                    Miks sa ei söö?
3669    10471248  est                                  Miks sina ei söö?

[3670 rows x 3 columns]

In [39]:
sentences_eng

         tatoeba_id lang                                           sentence
0              1276  eng                               Let's try something.
1              1277  eng                             I have to go to sleep.
2              1280  eng   Today is June 18th and it is Muiriel's birthday!
3              1282  eng                                 Muiriel is 20 now.
4              1283  eng                         The password is "Muiriel".
...             ...  ...                                                ...
1542865    10531129  eng                      They treated me like a child.
1542866    10531130  eng                I went to Boston to visit my uncle.
1542867    10531132  eng  We stop the epydemic with vaccines that doesn'...
1542868    10531134  eng                     I bought some in a bolt depot.
1542869    10531136  eng       I hope I didn't make a bad first impression.

[1542870 rows x 3 columns]

In [40]:
est_ids = np.array(sentences_est.tatoeba_id)
eng_ids = np.array(sentences_eng.tatoeba_id)

In [41]:
links_est = links.loc[links['source'].isin(est_ids)]
links_est

            source  translation
1750890     344278       222382
1750891     344278       348724
1750892     344278       508726
1750893     344278      7041124
1751029     344299       116076
...            ...          ...
20212743  10267471      8612761
20212744  10267472      8612761
20363149  10467066      7927688
20366866  10471247     10471214
20366867  10471248     10471214

[6474 rows x 2 columns]

In [42]:
links_eng = links.loc[links['source'].isin(eng_ids)]
links_eng

            source  translation
14652         1276            1
14653         1276           77
14654         1276         2481
14655         1276         3091
14656         1276         4702
...            ...          ...
20431592  10531114     10531115
20431598  10531120     10531122
20431599  10531121       180767
20431604  10531132     10531131
20431606  10531134     10531133

[5792048 rows x 2 columns]

In [234]:
dfs = [sentences_est,sentences_eng]

sentences_eng_est = pd.concat(dfs)
sentences_eng_est

         tatoeba_id lang                                           sentence
0            344278  est  Sellises kärestikus ujuma minna oleks väga mõt...
1            344280  est  Jõesängi mööda puhuv jäine tuul pani kõrvaotsa...
2            344282  est  Läinud aastavahetuse melu meenutasid tänavatel...
3            344289  est  Viirpuu hekk oli täis varblaste agarat säutsum...
4            344299  est       Tema hoolimatu autojuhtimine lõppes surmaga.
...             ...  ...                                                ...
1542865    10531129  eng                      They treated me like a child.
1542866    10531130  eng                I went to Boston to visit my uncle.
1542867    10531132  eng  We stop the epydemic with vaccines that doesn'...
1542868    10531134  eng                     I bought some in a bolt depot.
1542869    10531136  eng       I hope I didn't make a bad first impression.

[1546540 rows x 3 columns]

In [46]:
links_eng_est = links.loc[(links['source'].isin(eng_ids))&(links['translation'].isin(est_ids))]

In [48]:
links_eng_est

            source  translation
14815         1277      3401542
16614         1311       956043
17654         1329      5089104
19412         1378      4427279
19413         1378      4427280
...            ...          ...
19964196  10050078     10050087
19995707  10073706     10073707
20035983  10108615     10109011
20036032  10108637     10109011
20135606  10193669      5454114

[3067 rows x 2 columns]

In [235]:
eng_merged = pd.merge(links_eng_est,sentences_eng_est,left_on='source',right_on='tatoeba_id')
both_merged = pd.merge(eng_merged, sentences_eng_est,left_on='translation',right_on='tatoeba_id')
both_merged = both_merged.drop(columns=['tatoeba_id_x','tatoeba_id_y'])
both_merged

,source,translation,lang_x,sentence_x,lang_y,sentence_y
0,1277,3401542,eng,I have to go to sleep.,est,Ma pean magama minema.
1,1311,956043,eng,You should sleep.,est,Sa peaksid magama.
2,1329,5089104,eng,Hurry up.,est,Tee kiiremini.
3,1378,4427279,eng,I think I have a theory about that.,est,Mul on selle kohta vist teooria.
4,1378,4427280,eng,I think I have a theory about that.,est,"Arvan, et mul on selle kohta teooria."
...,...,...,...,...,...,...
3062,10050078,10050087,eng,Ireland is in Western Europe.,est,Iirimaa asub Lääne-Euroopas.
3063,10073706,10073707,eng,Check out the vocabulary for which we need sen...,est,"Vaata sõnavara, millele me vajame lauseid."
3064,10108615,10109011,eng,That's an interesting language.,est,See on huvitav keel.
3065,10108637,10109011,eng,It's an interesting language.,est,See on huvitav keel.
3066,10193669,5454114,eng,What does this woman want?,est,Mida see naine tahab?

In [236]:
merged_Tom = both_merged[both_merged['sentence_x'].str.contains(r"Tom( |'s|,)")]
merged_Tom

C:\Users\Kristiina\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,source,translation,lang_x,sentence_x,lang_y,sentence_y
230,37090,2710696,eng,"Hello, said Tom, smiling.",est,"Tere, ütles Tom naeratades."
231,37226,4427214,eng,Does Tom like tomatoes?,est,Kas Tomile meeldivad tomatid?
728,406587,4649135,eng,Tom is taller than I am.,est,Tom on pikem kui mina.
729,406587,4649136,eng,Tom is taller than I am.,est,Tom on minust pikem.
919,680516,5078498,eng,Tom claimed that he came from a rich family.,est,"Tom väitis, et ta on rikkast perekonnast pärit."
...,...,...,...,...,...,...
3044,9203725,9203723,eng,I heard that Tom is supposed to have quite a l...,est,"Kuulsin, et Tomil olevat üsna palju raha."
3049,9257584,9259523,eng,Tom told me his mother never loved him.,est,"Tom ütles mulle, et tema ema ei armastanud ted..."
3050,9257586,9259523,eng,Tom told me that his mother never loved him.,est,"Tom ütles mulle, et tema ema ei armastanud ted..."
3051,9257624,9259513,eng,Tom would like to live in this country.,est,Tom tahaks selles riigis elada.
3055,9289018,9289254,eng,Tom is our new French teacher.,est,Tom on meie uus prantsuse keele õpetaja.

In [51]:
linked_est_ids = np.array(links_eng_est.translation)
len(linked_est_ids)

3067

In [52]:
linked_eng_ids = np.array(links_eng_est.source)
len(linked_eng_ids)

3067

In [128]:
linked_sentences_eng_Tom = linked_sentences_eng[linked_sentences_eng['sentence'].str.contains(r"Tom( |'s|,)")]
linked_sentences_eng_Tom

C:\Users\Kristiina\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

         tatoeba_id lang                                           sentence
21097         37090  eng                          Hello, said Tom, smiling.
21229         37226  eng                            Does Tom like tomatoes?
142935       406587  eng                           Tom is taller than I am.
160311       680516  eng       Tom claimed that he came from a rich family.
160909       681116  eng         Tom has been a prison guard for ten years.
...             ...  ...                                                ...
1376015     9203725  eng  I heard that Tom is supposed to have quite a l...
1380977     9257584  eng            Tom told me his mother never loved him.
1380978     9257586  eng       Tom told me that his mother never loved him.
1380996     9257624  eng            Tom would like to live in this country.
1383960     9289018  eng                     Tom is our new French teacher.

[406 rows x 3 columns]

In [74]:
sentences_eng_Tom = sentences_all[sentences_all['sentence'].str.contains(r"Tom( |'s|,)")]

C:\Users\Kristiina\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [81]:
#sentences_est_Tom = sentences_est[sentences_est['sentence'].str.contains(r'Tom( |ile|ina|ini|iga|i|is|isse|ist|il|ilt|)(.|  )')]
sentences_est_Tom = sentences_est[sentences_est['sentence'].str.contains(r'Tom ')]
sentences_est_Tom

      tatoeba_id lang                                        sentence
333      1403732  est                        Tom on otsustanud minna.
339      1403739  est                            Tom on praegu töötu.
353      1431442  est  Tom teab, mida öelda, et Mary talle andestaks.
401      1567136  est          Tom läks kalale, aga ei saanud midagi.
482      2431808  est                               Tom tahab aidata.
...          ...  ...                                             ...
3602     9761981  est                              Tom lust rigatoni.
3616    10046859  est                                 Tom on õpetaja.
3617    10046863  est                            Tom on minu õpetaja.
3618    10046864  est                              Tom on mu õpetaja.
3657    10168519  est                   Ma teadsin, et Tom on reetur.

[333 rows x 3 columns]

In [13]:
Peeter_eng = pd.read_csv("./names_changed_eng/Tom_merged_changed_Peeter.csv", sep=',', header=None, skiprows=1)
Peeter_est = pd.read_csv("./names_changed_est/Tom_merged_changed_est_Peeter.csv", sep=',', header=None, skiprows=1)
Peeter_eng.columns = ["tatoeba_id","tatoeba_id_2","lang","initial","changed"]
Peeter_est.columns = ["tatoeba_id","tatoeba_id_2","lang","initial","changed"]

In [8]:
links = pd.read_csv("./links/links.csv", sep='\t', header=None)
links.columns = ["source","translation"]

In [19]:
#Peeter_eng = Peeter_eng.drop(columns=['tatoeba_id_2','initial'])
Peeter_eng

     tatoeba_id lang                                            changed
0         37090  eng                       Hello, said Peeter, smiling.
1         37226  eng                         Does Peeter like tomatoes?
2        406587  eng                        Peeter is taller than I am.
3        406587  eng                        Peeter is taller than I am.
4        680516  eng    Peeter claimed that he came from a rich family.
..          ...  ...                                                ...
413     9203725  eng  I heard that Peeter is supposed to have quite ...
414     9257584  eng         Peeter told me his mother never loved him.
415     9257586  eng    Peeter told me that his mother never loved him.
416     9257624  eng         Peeter would like to live in this country.
417     9289018  eng                  Peeter is our new French teacher.

[418 rows x 3 columns]

In [21]:
#Peeter_est = Peeter_est.drop(columns=['tatoeba_id_2','initial'])
Peeter_est

     tatoeba_id lang                                            changed
0       1403732  est                        Peeter on otsustanud minna.
1       1403739  est                            Peeter on praegu töötu.
2       1431442  est  Peeter teab, mida öelda, et Mary talle andestaks.
3       2432843  est                               Peeter vihkab kooli.
4       2432856  est                              Peeter on realistlik.
..          ...  ...                                                ...
410     9259523  est  Peeter ütles mulle, et tema ema ei armastanud ...
411     9289254  est        Peeter on meie uus prantsuse keele õpetaja.
412     9761981  est                              Peeter lust rigatoni.
413     9929122  est                           Peeter meeldib rigatoni.
414    10046859  est                                 Peeter on õpetaja.

[415 rows x 3 columns]

In [26]:
Peeter_eng_ids = np.array(Peeter_eng['tatoeba_id'])
Peeter_est_ids = np.array(Peeter_est['tatoeba_id'])
#Peeter_est_ids

In [27]:
links_Peeter = links.loc[(links['source'].isin(Peeter_eng_ids))&(links['translation'].isin(Peeter_est_ids))]

In [28]:
links_Peeter

           source  translation
352263      37090      2710696
353911      37226      4427214
2053417    406587      4649135
2053418    406587      4649136
3179239    680516      5078498
...           ...          ...
19297159  9203725      9203723
19324979  9257584      9259523
19324982  9257586      9259523
19325099  9257624      9259513
19339023  9289018      9289254

[415 rows x 2 columns]

In [182]:
Peeter_merged = pd.merge(links_Peeter,sentences_eng_est,left_on='source',right_on='tatoeba_id')
Peeter_both_merged = pd.merge(Peeter_merged, sentences_eng_est,left_on='translation',right_on='tatoeba_id')
Peeter_both_merged = Peeter_both_merged.drop(columns=['tatoeba_id_x','tatoeba_id_y'])
Peeter_both_merged

,source,translation,lang_x,sentence_x,lang_y,sentence_y
0,37090,2710696,eng,"Hello, said Tom, smiling.",est,"Tere, ütles Tom naeratades."
1,37226,4427214,eng,Does Tom like tomatoes?,est,Kas Tomile meeldivad tomatid?
2,406587,4649135,eng,Tom is taller than I am.,est,Tom on pikem kui mina.
3,406587,4649136,eng,Tom is taller than I am.,est,Tom on minust pikem.
4,680516,5078498,eng,Tom claimed that he came from a rich family.,est,"Tom väitis, et ta on rikkast perekonnast pärit."
...,...,...,...,...,...,...
410,9203725,9203723,eng,I heard that Tom is supposed to have quite a l...,est,"Kuulsin, et Tomil olevat üsna palju raha."
411,9257584,9259523,eng,Tom told me his mother never loved him.,est,"Tom ütles mulle, et tema ema ei armastanud ted..."
412,9257586,9259523,eng,Tom told me that his mother never loved him.,est,"Tom ütles mulle, et tema ema ei armastanud ted..."
413,9257624,9259513,eng,Tom would like to live in this country.,est,Tom tahaks selles riigis elada.
414,9289018,9289254,eng,Tom is our new French teacher.,est,Tom on meie uus prantsuse keele õpetaja.

In [64]:
Peeter_both_merged.to_csv('Tom_vol2_eng.tsv',columns=['source','lang_x','sentence_x'],sep ='\t', index=False, header=False)

In [65]:
Peeter_both_merged.to_csv('Tom_vol2_est.tsv',columns=['translation','lang_y','sentence_y'],sep ='\t', index=False, header=False)

In [72]:
file_eng = pd.read_csv("./names_changed_eng/Tom_vol2_changed_Peeter.tsv", sep='\t', header=None, skiprows=1)
file_est = pd.read_csv("./names_changed_est/Tom_vol2_changed_est_Peeter.tsv", sep='\t', header=None, skiprows=1)
file_eng = file_eng.drop(columns=[1,2])
file_est = file_est.drop(columns=[1,2])
file_eng.columns = ["tatoeba_id","changed"]
file_est.columns = ["tatoeba_id","changed"]

     tatoeba_id                                            changed
0       1403739                            Peeter on praegu töötu.
1       1431442  Peeter teab, mida öelda, et Mary talle andestaks.
2       2432843                               Peeter vihkab kooli.
3       2432856                              Peeter on realistlik.
4       2700143  Peeter ei tahtnud, et Mari talle pidevalt heli...
..          ...                                                ...
409     9259523  Peeter ütles mulle, et tema ema ei armastanud ...
410     9289254        Peeter on meie uus prantsuse keele õpetaja.
411     9761981                              Peeter lust rigatoni.
412     9929122                           Peeter meeldib rigatoni.
413    10046859                                 Peeter on õpetaja.

[414 rows x 2 columns]

In [73]:
file_eng_ids = np.array(file_eng['tatoeba_id'])
file_est_ids = np.array(file_est['tatoeba_id'])

In [81]:
file_links = links.loc[(links['source'].isin(file_eng_ids))&(links['translation'].isin(file_est_ids))]
file_links

           source  translation
353911      37226      4427214
2053417    406587      4649135
2053418    406587      4649136
3179239    680516      5078498
3182998    681116      4681176
...           ...          ...
19297159  9203725      9203723
19324979  9257584      9259523
19324982  9257586      9259523
19325099  9257624      9259513
19339023  9289018      9289254

[413 rows x 2 columns]

In [188]:



for i in ['Peeter','Karl']:
    for eng, est in zip(glob.iglob(f"names_changed_eng/*{i}.tsv"), glob.iglob(f"names_changed_est/*{i}.tsv")):
        file_eng = pd.read_csv(eng, sep='\t', header=None, skiprows=1)
        file_est = pd.read_csv(est, sep='\t', header=None, skiprows=1)
    print(file_eng)

     tatoeba_id                                            changed
0         37226                           Does Ždan like tomatoes?
1        406587                          Ždan is taller than I am.
2        406587                          Ždan is taller than I am.
3        680516      Ždan claimed that he came from a rich family.
4        681116        Ždan has been a prison guard for ten years.
..          ...                                                ...
412     9203725  I heard that Ždan is supposed to have quite a ...
413     9257584           Ždan told me his mother never loved him.
414     9257586      Ždan told me that his mother never loved him.
415     9257624           Ždan would like to live in this country.
416     9289018                    Ždan is our new French teacher.

[417 rows x 2 columns]
     tatoeba_id                                            changed
0         37226                           Does Ždan like tomatoes?
1        406587                          Ždan is taller than I am.
2        406587                          Ždan is taller than I am.
3        680516      Ždan claimed that he came from a rich family.
4        681116        Ždan has been a prison guard for ten years.
..          ...                                                ...
412     9203725  I heard that Ždan is supposed to have quite a ...
413     9257584           Ždan told me his mother never loved him.
414     9257586      Ždan told me that his mother never loved him.
415     9257624           Ždan would like to live in this country.
416     9289018                    Ždan is our new French teacher.

[417 rows x 2 columns]

In [402]:
f = open("./lastnames_2.txt",encoding='utf-8')
names_list = []
for line in f.readlines():
    line = line.strip()
    names_list.append(line)
names_list_ready = names_list
names_list_ready

['Raudmäe',
 'Kikas',
 'Peedu',
 'Pruus',
 'Rebas',
 'Kaur',
 'Liivak',
 'Pilt',
 'Tooming',
 'Pulk',
 'Treier',
 'Matvejev',
 'Salurand',
 'Toome',
 'Laine',
 'Kilk',
 'Päts',
 'Puju',
 'Männiste',
 'Koitla',
 'Lõviste',
 'Vooremaa',
 'Õmmik',
 'Talven',
 'Nõges',
 'Kirotar',
 'Pedaja',
 'Untauk',
 'Küber',
 'Roos',
 'Nurmekask',
 'Orajäär',
 'Pedajas',
 'Merend',
 'Truu',
 'Siimuste',
 'Mallis',
 'Piir',
 'Laurimaa',
 'Sillasoo',
 'Mostefaï',
 'Sarapuu',
 'Nõmmik',
 'Kärmas',
 'Väli',
 'Tank',
 'Õhemets',
 'Lukas',
 'Pent',
 'Rooväli',
 'Olari',
 'Õis',
 'Reinsalu',
 'Kasak',
 'Luhandi',
 'Kärner',
 'Lepmets',
 'Veenre',
 'Võsu',
 'Raidna',
 'Odakivi',
 'Taremäe',
 'Vanakamar',
 'Vitt',
 'Mädamürk',
 'Selirand',
 'Randla',
 'Pihel',
 'Pehme',
 'Poom',
 'Klaasmägi',
 'Saluoja',
 'Remmel',
 'Mändmets',
 'Tõnspoeg',
 'Põlatud',
 'Laidma',
 'Tõnissaar',
 'Lokk',
 'Parre',
 'Luik',
 'Kindel',
 'Kiisk',
 'Puunurm',
 'Morozov',
 'Toomse',
 'Roosilill',
 'Sangaste',
 'Koger',
 'Raidjõe',
 'Ulman',
 'Kolberg',
 'Laar',
 'Org',
 'Raude',
 'Oksa',
 'Roopärg',
 'Varik',
 'Kuresoo',
 'Tarmak',
 'Targo',
 'Kreek',
 'Peremees',
 'Lanno',
 'Tomson',
 'Leok',
 'Nuga',
 'Peetersoo',
 'Parre',
 'Pert',
 'Luts',
 'Sillak',
 'Martinson',
 'Laanaru',
 'Rumma',
 'Pöial',
 'Lehola',
 'Ustav',
 'Kuusik',
 'Mardna',
 'Piip',
 'Morozova',
 'Lambaauk',
 'Sarap',
 'Salu',
 'Trần',
 'Välbe',
 'Tarmet',
 'Leendi',
 'Prussakov',
 'Vallaste',
 'Novikov',
 'Õunap',
 'Peets',
 'Vellerind',
 'Kase',
 'Rand',
 'Sorokin',
 'Kirdelaht',
 'Mürkhain',
 'Mägiste',
 'Lumiste',
 'Kokla',
 'Väljak',
 'Peterson',
 'Paks',
 'Vinogradov',
 'Laidoner',
 'Paal',
 'Purve',
 'Siim',
 'Lumi',
 'Taaralepp',
 'Raadik',
 'Markus',
 'Pärtel',
 'Üprus',
 'Roorand',
 'Põder',
 'Kivistik',
 'Valge',
 'Õunapuu',
 'Siimre',
 'Pillak',
 'Paim',
 'Käär',
 'Õim',
 'Rajamaa',
 'Vetla',
 'Vaks',
 'Raisk',
 'Ots',
 'Tulp',
 'Soidro',
 'Lang',
 'Rannes',
 'Pere',
 'Kruus',
 'Parvet',
 'Kill',
 'Karumets',
 'Pennar',
 'Raidma',
 'Viiding',
 'Kits',
 'Nugiseks',
 'Korsari',
 'Laheste',
 'Kunn',
 'Roosioks',
 'Pihlak',
 'Timut',
 'Proosaselts',
 'Õgu',
 'Pikk',
 'Viil',
 'Tarm',
 'Vesik',
 'Pertel',
 'Nilbe']

In [403]:
for name in names_list_ready:
    for eng, est in zip(glob.iglob(f"lastnames3_changed_eng/*{name}.tsv"), glob.iglob(f"lastnames3_changed_est_uus/*{name}.tsv")):
        file_eng = pd.read_csv(eng, sep='\t', header=None, skiprows=1)
        file_est = pd.read_csv(est, sep='\t', header=None, skiprows=1)

    file_eng = file_eng.drop(columns=[1,2])
    file_est = file_est.drop(columns=[1,2])
    file_eng.columns = ["tatoeba_id","changed"]
    file_est.columns = ["tatoeba_id","changed"]

    file_eng_ids = np.array(file_eng['tatoeba_id'])
    file_est_ids = np.array(file_est['tatoeba_id'])

    links_eng_est
    file_links = links_eng_est.loc[(links_eng_est['source'].isin(file_eng_ids))&(links_eng_est['translation'].isin(file_est_ids))]


    files_merged = pd.merge(file_links,file_eng,left_on='source',right_on='tatoeba_id')
    files_all_merged = pd.merge(files_merged, file_est,left_on='translation',right_on='tatoeba_id')
    files_all_merged_no_duplicates = files_all_merged.drop_duplicates()
    files_all_merged_no_duplicates = files_all_merged_no_duplicates.drop(columns = ['source','translation','tatoeba_id_x','tatoeba_id_y'])
    files_all_merged_no_duplicates

    files_output = files_all_merged_no_duplicates
    files_output_eng = files_output['changed_x']
    files_output_est = files_output['changed_y']

    np.savetxt(f"outputs_lastnames/{name}.en", files_output_eng.values, fmt='%s')
    np.savetxt(f"outputs_lastnames/{name}.et", files_output_est.values, fmt='%s')
    np.savetxt(f"outputs_lastnames/{name}.en-et", files_output.values, fmt='%s', delimiter='|||')

            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                             Raudmäe on praegu töötu.
1    Raudmäe teab, mida öelda, et Mary talle andest...
2                                Raudmäe vihkab kooli.
3                               Raudmäe on realistlik.
4    Raudmäe ei tahtnud, et Mari talle pidevalt hel...
..                                                 ...
409  Raudmäe ütles mulle, et tema ema ei armastanud...
410       Raudmäe on meie uus prantsuse keele õpetaja.
411                             Raudmäe lust rigatoni.
412                          Raudmäe meeldib rigatoni.
413                                Raudmäe on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                               Kikas on praegu töötu.
1     Kikas teab, mida öelda, et Mary talle andestaks.
2                                  Kikas vihkab kooli.
3                                 Kikas on realistlik.
4    Kikas ei tahtnud, et Mari talle pidevalt helis...
..                                                 ...
409  Kikas ütles mulle, et tema ema ei armastanud t...
410         Kikas on meie uus prantsuse keele õpetaja.
411                               Kikas lust rigatoni.
412                            Kikas meeldib rigatoni.
413                                  Kikas on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                               Peedu on praegu töötu.
1     Peedu teab, mida öelda, et Mary talle andestaks.
2                                  Peedu vihkab kooli.
3                                 Peedu on realistlik.
4    Peedu ei tahtnud, et Mari talle pidevalt helis...
..                                                 ...
409  Peedu ütles mulle, et tema ema ei armastanud t...
410         Peedu on meie uus prantsuse keele õpetaja.
411                               Peedu lust rigatoni.
412                            Peedu meeldib rigatoni.
413                                  Peedu on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                               Pruus on praegu töötu.
1     Pruus teab, mida öelda, et Mary talle andestaks.
2                                  Pruus vihkab kooli.
3                                 Pruus on realistlik.
4    Pruus ei tahtnud, et Mari talle pidevalt helis...
..                                                 ...
409  Pruus ütles mulle, et tema ema ei armastanud t...
410         Pruus on meie uus prantsuse keele õpetaja.
411                               Pruus lust rigatoni.
412                            Pruus meeldib rigatoni.
413                                  Pruus on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                               Rebas on praegu töötu.
1     Rebas teab, mida öelda, et Mary talle andestaks.
2                                  Rebas vihkab kooli.
3                                 Rebas on realistlik.
4    Rebas ei tahtnud, et Mari talle pidevalt helis...
..                                                 ...
409  Rebas ütles mulle, et tema ema ei armastanud t...
410         Rebas on meie uus prantsuse keele õpetaja.
411                               Rebas lust rigatoni.
412                            Rebas meeldib rigatoni.
413                                  Rebas on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                                Kaur on praegu töötu.
1      Kaur teab, mida öelda, et Mary talle andestaks.
2                                   Kaur vihkab kooli.
3                                  Kaur on realistlik.
4    Kaur ei tahtnud, et Mari talle pidevalt helist...
..                                                 ...
409  Kaur ütles mulle, et tema ema ei armastanud te...
410          Kaur on meie uus prantsuse keele õpetaja.
411                                Kaur lust rigatoni.
412                             Kaur meeldib rigatoni.
413                                   Kaur on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                              Liivak on praegu töötu.
1    Liivak teab, mida öelda, et Mary talle andestaks.
2                                 Liivak vihkab kooli.
3                                Liivak on realistlik.
4    Liivak ei tahtnud, et Mari talle pidevalt heli...
..                                                 ...
409  Liivak ütles mulle, et tema ema ei armastanud ...
410        Liivak on meie uus prantsuse keele õpetaja.
411                              Liivak lust rigatoni.
412                           Liivak meeldib rigatoni.
413                                 Liivak on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                                Pilt on praegu töötu.
1      Pilt teab, mida öelda, et Mary talle andestaks.
2                                   Pilt vihkab kooli.
3                                  Pilt on realistlik.
4    Pilt ei tahtnud, et Mari talle pidevalt helist...
..                                                 ...
409  Pilt ütles mulle, et tema ema ei armastanud te...
410          Pilt on meie uus prantsuse keele õpetaja.
411                                Pilt lust rigatoni.
412                             Pilt meeldib rigatoni.
413                                   Pilt on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                             Tooming on praegu töötu.
1    Tooming teab, mida öelda, et Mary talle andest...
2                                Tooming vihkab kooli.
3                               Tooming on realistlik.
4    Tooming ei tahtnud, et Mari talle pidevalt hel...
..                                                 ...
409  Tooming ütles mulle, et tema ema ei armastanud...
410       Tooming on meie uus prantsuse keele õpetaja.
411                             Tooming lust rigatoni.
412                          Tooming meeldib rigatoni.
413                                Tooming on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                                Pulk on praegu töötu.
1      Pulk teab, mida öelda, et Mary talle andestaks.
2                                   Pulk vihkab kooli.
3                                  Pulk on realistlik.
4    Pulk ei tahtnud, et Mari talle pidevalt helist...
..                                                 ...
409  Pulk ütles mulle, et tema ema ei armastanud te...
410          Pulk on meie uus prantsuse keele õpetaja.
411                                Pulk lust rigatoni.
412                             Pulk meeldib rigatoni.
413                                   Pulk on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                              Treier on praegu töötu.
1    Treier teab, mida öelda, et Mary talle andestaks.
2                                 Treier vihkab kooli.
3                                Treier on realistlik.
4    Treier ei tahtnud, et Mari talle pidevalt heli...
..                                                 ...
409  Treier ütles mulle, et tema ema ei armastanud ...
410        Treier on meie uus prantsuse keele õpetaja.
411                              Treier lust rigatoni.
412                           Treier meeldib rigatoni.
413                                 Treier on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                            Matvejev on praegu töötu.
1    Matvejev teab, mida öelda, et Mary talle andes...
2                               Matvejev vihkab kooli.
3                              Matvejev on realistlik.
4    Matvejev ei tahtnud, et Mari talle pidevalt he...
..                                                 ...
409  Matvejev ütles mulle, et tema ema ei armastanu...
410      Matvejev on meie uus prantsuse keele õpetaja.
411                            Matvejev lust rigatoni.
412                         Matvejev meeldib rigatoni.
413                               Matvejev on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \
0     1403739  est                               Tom on praegu töötu.
1     1431442  est     Tom teab, mida öelda, et Mary talle andestaks.
2     2432843  est                                  Tom vihkab kooli.
3     2432856  est                                 Tom on realistlik.
4     2700143  est  Tom ei tahtnud, et Mari talle pidevalt helistaks.
..        ...  ...                                                ...
409   9259523  est  Tom ütles mulle, et tema ema ei armastanud ted...
410   9289254  est           Tom on meie uus prantsuse keele õpetaja.
411   9761981  est                                 Tom lust rigatoni.
412   9929122  est                           Tomile meeldib rigatoni.
413  10046859  est                                    Tom on õpetaja.

                                                     3
0                            Salurand on praegu töötu.
1    Salurand teab, mida öelda, et Mary talle andes...
2                               Salurand vihkab kooli.
3                              Salurand on realistlik.
4    Salurand ei tahtnud, et Mari talle pidevalt he...
..                                                 ...
409  Salurand ütles mulle, et tema ema ei armastanu...
410      Salurand on meie uus prantsuse keele õpetaja.
411                            Salurand lust rigatoni.
412                         Salurand meeldib rigatoni.
413                               Salurand on õpetaja.

[414 rows x 4 columns]
            0    1                                                  2  \

UnicodeEncodeError: 'charmap' codec can't encode character '\xef' in position 12: character maps to <undefined>

In [246]:
eng = Peeter_both_merged['sentence_x']
est = Peeter_both_merged['sentence_y']

0                           Tere,  ütles Tom naeratades.
1                          Kas Tomile meeldivad tomatid?
2                                 Tom on pikem kui mina.
3                                   Tom on minust pikem.
4        Tom väitis, et ta on rikkast perekonnast pärit.
                             ...
410            Kuulsin, et Tomil olevat üsna palju raha.
411    Tom ütles mulle, et tema ema ei armastanud ted...
412    Tom ütles mulle, et tema ema ei armastanud ted...
413                      Tom tahaks selles riigis elada.
414             Tom on meie uus prantsuse keele õpetaja.
Name: sentence_y, Length: 415, dtype: object

In [247]:
np.savetxt(f"outputs_final/Tom.en", eng.values, fmt='%s')
np.savetxt(f"outputs_final/Tom.et", est.values, fmt='%s')

In [404]:
os.chdir(r"C:\Users\Kristiina\Documents\MAGISTER\semester_1\Machine Learning\Ajapaik\outputs_lastnames")

In [413]:
all_filenames = [i for i in glob.glob(f"*.en-et")]

with open("all_lastnames.en-et", "w") as outfile:
    for filename in all_filenames:
        with open(filename) as infile:
            contents = infile.read()
            outfile.write(contents)

In [105]:
links_eng_est.to_csv("links_eng_est.csv",sep='\t',index=False, header=False)

In [248]:
firstnames = pd.read_csv("./eng_sentences/estonian_first_names.txt", header=None, skiprows=1)
lastnames = pd.read_csv("./eng_sentences/estonian_last_names.txt", header=None, skiprows=1)

In [372]:
firstnames_list = list(firstnames[0])
lastnames_list = list(lastnames[0])

f1 = random.sample(firstnames_list, 200)
l1 = random.sample(lastnames_list, 200)

new2 = pd.DataFrame()
new2['f'] = f1
new2['l'] = l1
new2

f_l1 = pd.DataFrame()
f_l1['name'] = new2['f']+ " "+ new2['l']
f_l1

new = pd.DataFrame()
new['f'] = f
new['l'] = l
new

f_l = pd.DataFrame()
f_l['name'] = new['f']+ " "+ new['l']
f_l

                 name
0    Kirill Pruunsild
1           Olga Pukk
2      Häili Kibuspuu
3           Ülar Viks
4       Liina Jegorov
..                ...
195     Marina Lender
196       Linda Gross
197    Pääro Teodosie
198      Väiko Alonen
199         Aili Edur

[200 rows x 1 columns]

In [375]:
np.savetxt(f"eng_sentences/names_2.txt", f_l1.values, fmt='%s')

In [307]:
np.savetxt(f"eng_sentences/names.txt", f_l.values, fmt='%s')